/* Menu-specific settings */

/***************************
Menu-specific colors
***************************/
$MenuBG:#e6dfcb;
$MenuHoverBG:#b49e64;
$MenuitemBG:#eee9dd;
$MenuitemFG:#4d3200;
$MenuBorder:#8a7742;
$MenuSelectedBorder:#564a29;
$MenuitemSelectedFG:black;
$MenuitemSelectedBG1:#ded4ba;
$MenuitemSelectedBG2:#c5b387;

/***************************
Menu-specific sizes
***************************/
$MenuFontSize:105%;
$MenuFontSelectedSpacing:2px;
$MenuFontSelectedSize:1.2*$MenuFontSize;
$MenuBorderRadius:2px;
$MenuBorderSelectedRadius:1.5*$MenuBorderRadius;

/***************************
Inheritences
***************************/
%menufont {
  color:$MenuitemFG;
  font-family:arial;
  font-size:$MenuFontSize;
  font-weight:bold;
  text-decoration:none;
  text-align:center;
}

%menuborder {
  border:$MenuBorderRadius solid $MenuBorder;
  border-radius:10px;
}

%menuborderselected {
  border:$MenuBorderSelectedRadius solid $MenuSelectedBorder;
  border-radius:20px;
}

%menufontselected {
  @extend %menufont;
  color:$MenuitemSelectedFG;
  letter-spacing:$MenuFontSelectedSpacing;
  font-size:$MenuFontSelectedSize;
}

%menubase {
  @extend %menufont;
  @extend %menuborder;
  word-wrap: break-word;
  margin-bottom:5px;
  padding-top:  5px;
  padding-bottom: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color:$MenuitemBG;
}

%menuhover {
  &:hover {
    background-color:$MenuHoverBG;
    text-align:center;
    text-indent:10px;
  }
  &:active {
    position:relative;
    top:1px;
  }
}

%divmenu {
  @extend %menuborder;
  padding-left: 5px;
  background-color: $MenuitemSelectedBG2;
}

/***************************
Styles
***************************/

a #menu_header {
  display:block;
  background: $MenuBG;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width:99%;
  margin:auto;
  padding-top:1pt;
  padding-bottom:1pt;
  margin-bottom:3px;
  h2 {
    text-align:center;
    text-decoration:none;
    color:black;
  }
}

#menu {
  position:absolute;
  height:100%;
  width:$menusize;
  background:$MenuBG;
  display:inline-block;
  padding:0;
  margin:0;
  overflow-y:auto;
}

.menu {
  @extend %menubase;
  @extend %menuhover;
  .menu_href {
    @extend %menufont;
  }
}

.selected {
  @extend %menubase;
  @extend %menuborderselected;
  background:linear-gradient($MenuitemSelectedBG1,$MenuitemSelectedBG2);
  padding:10px 10px;
  .menu_href {
    text-decoration:none;
  }
}

.selected > .menu_href > .menu_text {
  @extend %menufontselected;
}

.submenu {
  @extend %menubase;
  @extend %menuhover;
  cursor:pointer;
  .menu_text {
    @extend %menufont;
  }
}


.div_menu {
  @extend %divmenu;
  min-height:30px;
  width:95%;
  height:auto;
  text-align:center;
  margin:auto;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.div_submenu {
  @extend %divmenu;
  padding-top:2px;
  min-height:30px;
  width:93%;
}
