/* Stuff-specific settings */

/***************************
Stuff-specific colors
***************************/
$StuffFG:black;
$StuffBG1:$MenuitemBG;
$StuffBG2:$MenuitemSelectedBG2;

/***************************
Stuff-specific sizes
***************************/
$StuffH3Size:1.2*$MenuFontSelectedSize;
$pdf_icon_height:32px;
$pdf_icon_width:32px;
$stuff_width:300px;
$art_stuff_width:400px;

/***************************
Inheritences
***************************/
%stuffbase {
  background:linear-gradient(to bottom right,$StuffBG1,$StuffBG2);
  display:inline-block;
  border:1px solid black;
  border-radius:5px;
  padding:5px;
  margin:5px;
  text-align:left;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

%stuffdescrbase {
  display:inline-block;
  font-family:arial;
  font-size:16px;
  vertical-align:top;
  color:$StuffFG;
}

%artfield {
  line-height:1em;
  overflow:hidden;
  text-overflow:ellipsis;
}

@import 'pdficon';

.stuff {
  @extend %stuffbase;
  width:$stuff_width;
}
.note_stuff {
  @extend %stuffbase;
  margin-bottom: 3px;
  margin-top: 0;
  width:95%;
}
.note_date {
  text-decoration:none;
  font-weight: bold;
  color: #444444;
}
.note_title {
  @extend .note_date;
  margin-left: 5pt;
}
.note_descr {
  @extend .note_date;
  font-weight: normal;
}
.art_stuff {
  @extend %stuffbase;
  width:$art_stuff_width;
}
.art_author {
  @extend %artfield;
  font-style: italic;
}
.art_title {
  @extend %artfield;
  font-weight: bold;
}
.stuff_icon {
  display:inline-block;
}
.stuff_descr {
  @extend %stuffdescrbase;
  width:$stuff_width - $pdf_icon_width - 5px;
}
.art_stuff_descr {
  @extend %stuffdescrbase;
  width:$art_stuff_width - $pdf_icon_width - 5px;
}
.pdfcategory {
  @extend %stuffbase;
  h3 {
    font-weight:800;
    font-size:$StuffH3Size;
  }
}

video {
  max-width:90% !important;
  max-height:90% !important;
}
.video {
  @extend %stuffbase;
  max-width:100%;
  max-height:100%;
}
.videotitle {
  width:auto;
  color:black;
  font-family:arial;
  font-size:16px;
  font-weight:bold;
}

.videotitle a {
  font-size:12px;
}

.video_thumb {
  @extend %stuffbase;
  width:50%;
}
.video_thumb img {
  float:left;
}
.video_desc {
  text-decoration:none;
  color:#111;
  font-weight:bold;
}
