/* Table-specific settings */

/***************************
Table-specific colors
***************************/
$HeadBG:darken($MenuBG,40%);
$HeadFG:#eee;
$RowBG1:$MenuitemSelectedBG1;
$RowBG2:$MenuitemSelectedBG2;
$RowFG:black;
$RowHoverBG:$MenuHoverBG;

/***************************
Styles
***************************/

table {
  margin-left: auto;
  margin-right: auto;
}
.bertabla {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

th {
  background-color:$HeadBG;
  color:$HeadFG;
}

td {
  text-align:center;
}

tr {

  color:$RowFG;
  &:nth-child(even) {
    background-color:$RowBG1;
    table tr>* {
      background-color:$RowBG1;
    }
  }
  &:nth-child(odd) {
    background-color:$RowBG2;
    table tr>* {
      background-color:$RowBG2;
    }
  }

}

.besorolas {
  width:20%;
}

.kateg {
  width:10%;
}

.percent {
  font-weight:bolder;
}

table caption {
  caption-side:top;
}

.dtable {
  display:table;
}

.dheading {
  display:table-row;
  font-weight:bold;
  text-align:center;
  background:$HeadBG;
  color:$HeadFG;

  .dcell {
    border-bottom:1px solid black;
  }
}

.drow {
  display:table-row;

  &:nth-child(even) {
    background-color:$RowBG1;
  }
  &:nth-child(odd) {
    background-color:$RowBG2;
  }
  &:hover {
    background-color:$RowHoverBG;
  }

  .dcell {
    padding: 1em 1em 1em;
  }
}

.dcell {
  display:table-cell;
}

.folder {
  background-image:url('http://uzsolt.hu/static/pict/icons/folder.png');
  background-repeat:no-repeat;

  a {
    padding-left:24px;
    color:#102323;
    text-decoration:underline;
    font-weight:bold;
  }

}
