$rowcol1:#b9dfdf;
$rowcol2:#50afaf;
$headbg:#204646;
$headcol:#eee;
$rowcolh:#dcefef;

table {
  margin-left: auto;
  margin-right: auto;
}
.bertabla {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

th {
  background-color:$headbg;
  color:$headcol;
}

td {
  text-align:center;
}

tr {

  &:nth-child(even) {
    background-color:$rowcol1;
    table tr>* {
      background-color:$rowcol1;
    }
  }
  &:nth-child(odd) {
    background-color:$rowcol2;
    table tr>* {
      background-color:$rowcol2;
    }
  }

}

.besorolas {
  width:20%;
}

.kateg {
  width:10%;
}

.percent {
  font-weight:bolder;
}

table caption {
  caption-side:top;
}

.dtable {
  display:table;
}

.dheading {
  display:table-row;
  font-weight:bold;
  text-align:center;
  background:$headbg;
  color:$headcol;

  .dcell {
    border-bottom:1px solid black;
  }
}

.drow {
  display:table-row;

  &:nth-child(even) {
    background-color:$rowcol1;
  }
  &:nth-child(odd) {
    background-color:$rowcol2;
  }
  &:hover {
    background-color:$rowcolh;
  }

  .dcell {
    padding: 1em 1em 1em;
  }
}

.dcell {
  display:table-cell;
}

.folder {
  background-image:url('http://uzsolt.hu/static/pict/icons/folder.png');
  background-repeat:no-repeat;

  a {
    padding-left:24px;
    color:#102323;
    text-decoration:underline;
    font-weight:bold;
  }

}
