$menusize:30%;
/* General settings */
html,body {
  position:relative;
  height:100%;
  padding:0;
  margin:0;
  background-color:#dcefe7;
  overflow-y: hidden;
}
h1 {
  text-shadow: 0px 1px 2px #4da682;
}

@import 'image';
@import 'menu';
@import 'stuff';
@import 'syntax';
@import 'table';
@import 'responsive';

$rsspngsize:32px;
.rss {
  position: absolute;
  top: $rsspngsize;
  right: $rsspngsize;
  width:$rsspngsize;
  height:$rsspngsize;
}
.rss img {
  width:$rsspngsize;
  height:$rsspngsize;
}

#news a {
  color: black;
  text-decoration: underline;
}
a {
  position: relative;
  outline: 0;
}

/* Content */
$content-border-width:7%;
#content {
  position:relative;
  padding-left:6px;
  left:$menusize;
  background-color:#cbe7db;
  display: inline-block;
  width:100% - $menusize - 1%;
  height:99%;
  min-height:99%;
  overflow:auto;
  border-left-style: solid;
  border-color: #dcefef;
  border-width: $content-border-width;
}
.highlight { background-color:#dddddd; }

.filename { 
  color:darkblue;
  font-family:courier;
}

.center{
  width:100%;
  text-align:center;
}

li{
  margin:5px;
}

blockquote {
  padding: 0 10px;
  font-style: italic;
  border-left: 3px solid gray;
}

q {
  font-style: italic;
}

#kerdesek {
  padding: 1em;
  border: 1px solid black;
  border-radius: 8px;
  font-style: bold;
  text-align: center;
  font-size: large;
  background-color: $selectedbg1;
  a {
    color: $menubg;
  }
}
