/* Menu-specific settings */

$menusize:30%;

$menubg:#dcefe7;
$selectedbg1:#489d9d;
$selectedbg2:#183429;

a #menu_header {
  display:block;
  background: radial-gradient($selectedbg1,$menubg);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius:  5px;
  width: 99%;
  margin:auto;
  padding-top:1pt;
  padding-bottom:1pt;
  margin-bottom:3px;
  h2 {
    text-align:center;
    text-decoration:none;
    color: black;
  }
}

#menu {
  position:absolute;
  height:100%;
  width:$menusize;
  background: radial-gradient(#50afaf,#306969);
  display: inline-block;
  padding:0;
  margin:0;
  overflow-y:auto;
}

%menubase {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  font-family:arial;
  font-size:14px;
  text-decoration:none;
  text-align:center;
  margin-bottom:5px;
  padding-top:  5px;
  padding-bottom: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color:$menubg;
}

%menuhover {
  &:hover {
    background-color:#1d7652;
    text-align:center;
    text-indent:10px;
  }
  &:active {
    position:relative;
    top:1px;
  }
}

%menuhref {
  text-decoration:none;
}

.menu_text {
  width:100%;
}

.menu {
  @extend %menubase;
  @extend %menuhover;
  background:linear-gradient($menubg,#5eb792);
  border-radius:10px;
  border:1px solid #3d9672;
  .menu_href {
    @extend %menuhref;
    color:#000000;
  }
}

.selected {
  @extend %menubase;
  background:linear-gradient($selectedbg1,$selectedbg2);
  border-radius:20px;
  border:1px solid #b30000;
  padding:10px 10px;
  .menu_href {
    @extend %menuhref;
    color:#ffffff;
  }
}

.submenu {
  @extend %menubase;
  @extend %menuhover;
  background:linear-gradient($menubg,#5eb792);
  border-radius:6px;
  border:1px solid #8888ff;
  cursor:pointer;
  .menu_href {
    @extend %menuhref;
    color:#000000;
  }
}

%divmenu {
  border:2px solid;
  border-radius:10px;
  padding-left: 5px;
  background-color: #b9dfdf;
}

.div_menu {
  @extend %divmenu;
  min-height: 30px;
  width:95%;
  height:auto;
  text-align: center;
  margin: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.div_submenu {
  @extend %divmenu;
  padding-top: 2px;
  min-height: 30px;
  width:93%;
}
